@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Hide browser's built-in password reveal icon on Chromium-based browsers (Edge, Chrome) */
input::-ms-reveal,
input::-ms-clear,
input::-webkit-credentials-auto-fill-button {
  display: none !important;
  pointer-events: none;
  opacity: 0;
}

/* Default dot */
.slick-dots li div {
  background-color: #022c22; /* Tailwind green-950 */
  opacity: 0.4;
  transition: all 0.3s ease;
}
/* Active dot */
.slick-dots li.slick-active div {
  opacity: 1;
}
/* Slide's animation zoom-in-out */
.slick-center img {
  animation: zoomInOut 3s ease-in-out infinite;
}
@keyframes zoomInOut {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

.swiper {
  overflow: visible !important; /* For tooltip */
}
.swiper-wrapper {
  overflow: visible !important;
}